spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/liuchengts/spring-cloud-config.git/config-repo/ #远程配置，获取spring的配置
          search-paths: dev
          # username: 
          #password: 
          basedir: target/config  #git的配置文件会加载到本地的目录
      uri: http://localhost:8888
      label: master
server:
    port: 8888

management:
  security:
    enabled: false



